/ExperimentalLogs/*
SyntheticData/*
SyntheticData/compressed.g
SyntheticData/minedModel.graphml
SyntheticData/minedModel.png
SyntheticData/noisedTraces.log
SyntheticData/syntheticModel.graphml
SyntheticData/syntheticModel.png
SyntheticData/test.g
SyntheticData/testModel.pnml
SyntheticData/testTraces.log
SyntheticData/testTraces.xes
Testing/SUB*
Datasets/SampleAlgoArtifacts/

RealData/Dataset files (3.2 MB).zip
RealData/Dataset files (3.2 MB)/

RealData/ApacheCrypto/
RealData/Dataset files (2.5 MB)_NASA_CEV.zip
RealData/NASA_CEV_2017/

Datasets/Test_0_Retest/*
Datasets/Test_1_Retest/*
Datasets/Test_0_Retest_ThetaTrace_Results/*
Datasets/Test_0_Retest_AnomalyTheta_Results/*

Datasets/Test_0/
Datasets/Test_1/
Datasets/Test_2/
Datasets/Test_0_ThetaTrace_Results/
Datasets/Test_1_ThetaTrace_Results/
Datasets/Test_0_AnomalyTheta_Results/
Datasets/Test_1_AnomalyTheta_Results/
Datasets/Test_0_TraceTheta_Results/
Datasets/Test_1_TraceTheta_Results/
Datasets/Temp/
~*
Junk/*

RealData/results/*
RealData/dc_training_logs_2017/*
RealData/BPI Challenge 2017.xes
RealData/BPI Challenge 2017.xes.gz
RealData/JUnit 4.12 Software Event Log.xes
Testing/activityDict.txt
SyntheticData/compressed.g
SyntheticData/noisedTraces.log
SyntheticData/testTraces.xes
TestResults/anomalyResult.txt

TestResults/gbadResult.txt
TestResults/mdlResult.txt
Testing/dendrogram.graphml
Testing/dendrogram.png
Testing/dendrogram.txt
Testing/gbad-mdl.exe.stackdump
Testing/lastMdlResult.txt

RealData/*graphml
RealData/*pnml
RealData/*stackdump
RealData/*.log
RealData/Road_Traffic_Fine_Management_Process.xes
RealData/Hospital_log.xes
RealData/BPI_2012_financial_log_ALIASED_ACTIVITIES.xes
RealData/BPI_2012_financial_log.xes
