#The probability of producing an anomaly structure. The probability of their occurrence is given by 'abnormal*' params
AnomalousLoopProb=0.3
AnomalousOrBranchProb=0.3
AbnormalOrProbRange=0.05,0.05
#Negative values are used as signal values, allowing params to be set later to varied values. Leave these negative in 
#this experiment; they are overridden later during data generation, by DataGenerator I think.
NormalOrProbRange=-1.0,-1.0
NormalLoopProbRange=-1.0,-1.0
AbnormalLoopProbRange=0.05,0.05
NumAnomalies=1
MaxAnomalousEdges=1000
MinShortestPathLength=1