AnomalousLoopProb=0.3
AnomalousOrBranchProb=0.3
AbnormalOrProbRange=0.01,0.05
#Negative values are used as signal values, allowing params to be set later to varied values
NormalOrProbRange=-1.0,-1.0
NormalLoopProbRange=-1.0,-1.0
AbnormalLoopProbRange=0.01,0.05
NumAnomalies=1
MaxAnomalousEdges=4
MinShortestPathLength=1